<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
	</head>
	<body>
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<div class="header">
						<h1>{{poll.question}}</h1>
					</div>
				</div>
			</div>
			<div class="row body">
				<div class="col-md-12">
					{%if error_message%}
						<div class="row">
							<div class="col-md-12">
								<div class="alert alert-danger alert-dismissable">
									<p>
										<strong>
											{{error_message}}
										</strong>
									</p>
								</div>
							</div>
						</div>
					{%endif%}
					<div class="row form">
						<div class="col-md-12">
							<form role="form" action="{%url 'polls:vote' poll.id%}" method="post">
								<fieldset>
									<legend>Options</legend>
									{%csrf_token%}
									{%for choice in poll.choice_set.all%}
										<div class="polls_choice_{{forloop.counter}}">
											<div class="from-group">
												<input type="radio" name="choice" id="choice_{{forloop.counter}}" value="{{choice.id}}"/>
												<label for="choice_{{forloop.counter}}">{{choice.choice_text}}</label>
											</div>
										</div>
									{%endfor%}
									<div class="form_actions">
										<a href="{%url 'polls:index'%}" class="btn btn-danger">Back</a>
										<input type="submit" class="btn btn-primary"value="Vote" />
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>