<!DOCTYPE HTML>
<html>

	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
	</head>
	<body>
		<div class="container">
			<div class="header">
				{%if lastest_polls%}
					<h2> Lastest Polls</h2>
					<h6>Click on the title to see more details</h6>
				{%endif%}
			</div>
			<div class="body">
				{%if lastest_polls %}
					<ul>
						{%for poll in lastest_polls%}
							<li>
								<a href="{%url 'polls:detail' poll.id%}">{{poll.question}}</a>
							</li>
						{%endfor%}
					</ul>
				{%else%}
					<p>
						There are no polls registered.
					</p>
				{%endif%}
			</div>	
		</div>
	</body>
</html>	